WPF.DashboardStarter/Connected Services/DashboardService/DashboardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DashboardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDashboardService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Security" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Globalization" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WPF.DashboardLibrary.DTOs.Settings" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/WPF.DashboardLibrary.DTOs.Status" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/WPF.DashboardLibrary.DTOs.Messages" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/WPF.DashboardLibrary.Enums" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/WPF.DashboardImpl.DTOs.Tests" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDashboardService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_GetAvailableSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableSettings" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_GetAvailableSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_RequestSettingChange_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestSettingChange" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_GetAvailableStatusInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableStatusInfo" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_GetAvailableStatusInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableStatusInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_SendMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_SettingChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SettingChanged" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_StatusChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StatusChanged" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_StatusesChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StatusesChanged" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_GetAvailableTests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableTests" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_GetAvailableTests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableTestsResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_RequestTest_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestTest" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_TestResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TestResult" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDashboardService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardStarterService/Connect" message="tns:IDashboardService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardStarterService/ConnectResponse" message="tns:IDashboardService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardStarterService/Disconnect" message="tns:IDashboardService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardStarterService/DisconnectResponse" message="tns:IDashboardService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardStarterService/Login" message="tns:IDashboardService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardStarterService/LoginResponse" message="tns:IDashboardService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardStarterService/Logout" message="tns:IDashboardService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardStarterService/LogoutResponse" message="tns:IDashboardService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAvailableSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardStarterService/GetAvailableSettings" message="tns:IDashboardService_GetAvailableSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardStarterService/GetAvailableSettingsResponse" message="tns:IDashboardService_GetAvailableSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RequestSettingChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardStarterService/RequestSettingChange" message="tns:IDashboardService_RequestSettingChange_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAvailableStatusInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardStarterService/GetAvailableStatusInfo" message="tns:IDashboardService_GetAvailableStatusInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardStarterService/GetAvailableStatusInfoResponse" message="tns:IDashboardService_GetAvailableStatusInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardStarterService/SendMessage" message="tns:IDashboardService_SendMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SettingChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardStarterService/SettingChanged" message="tns:IDashboardService_SettingChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StatusChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardStarterService/StatusChanged" message="tns:IDashboardService_StatusChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StatusesChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardStarterService/StatusesChanged" message="tns:IDashboardService_StatusesChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAvailableTests">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/GetAvailableTests" message="tns:IDashboardService_GetAvailableTests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/GetAvailableTestsResponse" message="tns:IDashboardService_GetAvailableTests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RequestTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/RequestTest" message="tns:IDashboardService_RequestTest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TestResult">
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/TestResult" message="tns:IDashboardService_TestResult_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDashboardService" type="tns:IDashboardService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDashboardService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IDashboardStarterService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IDashboardStarterService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IDashboardStarterService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/IDashboardStarterService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSettings">
      <soap12:operation soapAction="http://tempuri.org/IDashboardStarterService/GetAvailableSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSettingChange">
      <soap12:operation soapAction="http://tempuri.org/IDashboardStarterService/RequestSettingChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableStatusInfo">
      <soap12:operation soapAction="http://tempuri.org/IDashboardStarterService/GetAvailableStatusInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IDashboardStarterService/SendMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SettingChanged">
      <soap12:operation soapAction="http://tempuri.org/IDashboardStarterService/SettingChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusChanged">
      <soap12:operation soapAction="http://tempuri.org/IDashboardStarterService/StatusChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusesChanged">
      <soap12:operation soapAction="http://tempuri.org/IDashboardStarterService/StatusesChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableTests">
      <soap12:operation soapAction="http://tempuri.org/IDashboardService/GetAvailableTests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestTest">
      <soap12:operation soapAction="http://tempuri.org/IDashboardService/RequestTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TestResult">
      <soap12:operation soapAction="http://tempuri.org/IDashboardService/TestResult" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DashboardService">
    <wsdl:port name="NetTcpBinding_IDashboardService" binding="tns:NetTcpBinding_IDashboardService">
      <soap12:address location="net.tcp://localhost:8090/DashboardService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/DashboardService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-VUCHBMA\RBant</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>