WPF.DashboardStarter/Connected Services/DashboardService/item91.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WPF.DashboardImpl.DTOs.Tests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WPF.DashboardImpl.DTOs.Tests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestDTO" nillable="true" type="tns:TestDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestDTO" nillable="true" type="tns:ArrayOfTestDTO" />
  <xs:complexType name="TestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="TestId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestDTO" nillable="true" type="tns:TestDTO" />
  <xs:complexType name="TestRequestDTO">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="TestRequestDTO" nillable="true" type="tns:TestRequestDTO" />
  <xs:complexType name="TestResultDTO">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="TestResultDTO" nillable="true" type="tns:TestResultDTO" />
</xs:schema>